# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# My rules to remove any doubt

*.c 		text
*.cpp		text
*.h		text
*.pl		text
*.py		text
*.sh		text
*.txt		text
*.desktop	text
*.conf		text
*.rc		text
*.spec		text
*.bat		text
*.1		text
*.md		text
COPYING		text
Makefile*	text
README*		text

*.ico		binary
*.png		binary

